@model Empleado

@{

    ViewData["Title"] = "Home Page";
}


<div class="container">
    	<div class="row justify-content-center align-items-center">
			<div class="col-md-8 col-md-offset-3">
				<div class="panel panel-login border p-3">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Iniciar sesión</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Regístrate ahora</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								@* @if (@Model != null)
								{ *@
									<form id="login-form" action="@Url.Action("Login", "Home")" method="post" role="form" style="display: block;">
										 <!-- Campo oculto para enviar el Id -->
									
										<div class="form-group">
											<input type="email" name="Correo" id="Correo" tabindex="1" class="form-control" placeholder="Correo electrónico" value="">
										</div>
										<div class="form-group">
											<input type="password" name="Contraseña" id="Contraseña" tabindex="2" class="form-control mt-3" placeholder="Contraseña">
										</div>
										<div class="form-group text-center mt-2">
											<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
											<label for="remember"> Recordarme</label>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-offset-3">
													<button type="submit" tabindex="4" class="form-control btn btn-login mt-3 mb-3">Iniciar sesión</button>
												</div>
											</div>
										</div>

										<div class="form-group">
											<div class="row">
												<div class="col-lg-12">
													<div class="text-center mb-3">
														<a tabindex="5" class="forgot-password">¿Has olvidado tu contraseña?</a>
													</div>
												</div>
											</div>
										</div>
									</form>
								@* }
								else
								{
									<p>El modelo o el ID son nulos.</p>
								} *@

								<form class="register-form" asp-controller="Empleados" asp-action="Create" method="post" style="display: none;">
									<div class="form-group">
										<label for="exampleInputEmail1">Nombres</label>
										<input type="text" asp-for="Nombres"  class="form-control" placeholder="Ingrese sus nombres">
									</div>

									<div class="form-group">
										<label for="exampleInputPassword1">Apellidos</label>
										<input type="text" asp-for="Apellidos" class="form-control" placeholder="Ingrese sus apellidos">
									</div>

									<div class="form-group">
										<label for="exampleInputPassword1">Correo electronico</label>
										<input type="email" asp-for="Correo" class="form-control" placeholder="Ingrese el correo electrònico">
									</div>

									<div class="form-group">
										<label for="exampleInputPassword1">Contraseña</label>
										<input type="password" asp-for="Contraseña" class="form-control" placeholder="Ingrese su contraseña">
									</div>

									<div class="form-group">
										<div class="row">
											<div class="col-sm-offset-3">
												<buton name="register-submit" id="register-submit" tabindex="4" class="form-control  mt-2 btn btn-register"> Crear cuenta </buton>
											</div>
										</div>
									</div>
								</form>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>