@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    	<div class="row justify-content-center align-items-center">
			<div class="col-md-8 col-md-offset-3">
				<div class="panel panel-login border p-3">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Iniciar sesión</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Regístrate ahora</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" action="@Url.Action("Login", "Home")" method="post" role="form" style="display: block;">
									<div class="form-group">
										<input type="text" name="Correo" id="Correo" tabindex="1" class="form-control" placeholder="Correo electrónico" value="">
									</div>
									<div class="form-group">
										<input type="password" name="Contraseña" id="Contraseña" tabindex="2" class="form-control mt-3" placeholder="Contraseña">
									</div>
									<div class="form-group text-center mt-2">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Recordarme</label>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-offset-3">
												<button type="submit" tabindex="4" class="form-control btn btn-login mt-3 mb-3">Iniciar sesión</button>
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center mb-3">
													<a tabindex="5" class="forgot-password">¿Has olvidado tu contraseña?</a>
												</div>
											</div>
										</div>
									</div>
								</form>

								<form id="register-form" action="http://phpoll.com/register/process" method="post" role="form" style="display: none;">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control mt-2" placeholder="Usuario" value="">
									</div>
									<div class="form-group">
										<input type="email" name="email" id="email" tabindex="1" class="form-control mt-2" placeholder="Correo electronico" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control mt-2" placeholder="Contraseña">
									</div>
									<div class="form-group">
										<input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control mt-2" placeholder="Confirmar contraseña">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control mt-2 btn btn-register" value="Crear cuenta">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>