@{
    ViewData["Title"] = "Logged";
}


<div class="container">
    <div class="row">

        <p>Bienvenido @ViewBag.Nombre </p>

        <div class="col-md-10 text-align-center border p-5">
            <form action="">
                <h2 class="text-center"> <b>Datos del empleado: </b></h2>
                <div class="form-group">
                    <label for="Nombres">Nombres</label>
                    <input disabled type="text" class="form-control" @*value="@Model.Nombres"*@ > 
                    </div>

                <div class="form-group">
                    <label for="Apellidos">Apellidos</label>
                    <input disabled type="text" class="form-control" @*value="@Model.Apellidos"*@>
                </div>

                <div class="form-group">
                    <label for="Correo">Correo electronico</label>
                    <input disabled type="email" class="form-control" @*value="@Model.Correo"*@>
                </div>

                <hr>
                <div class="row">
                    <a class="mb-2 btn btn-info" asp-controller="Empleados" asp-action="Ingreso">Registrar ingreso</a>
                    <br>
                    <a class=" btn btn-warning" asp-controller="Empleados" asp-action="Salida">Registrar salida</a>

                </div>
            </form>
            
         
        </div>
    </div>


    <div class="row mt-5">

        <div class="col-md-10">
            <h3 class="text-center">Historial de conexión</h3>
            <table class="table border table-striped table-hover text-center">
                <thead class="thead-dark mx-auto">
                    <tr>
                        <th class="border">Registro de Entrada</th>
                        <th class="border">Registro de Salida</th>
                    </tr>
                </thead>
    </div>
    
</div>

@* 
<table class="table">
  <thead class="thead-dark"> *@