@{
    ViewData["Title"] = "Ingreso";
}

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 text-center justify-content-around">
            <a class="nav-link text-info font-weight-bold" asp-area="" asp-controller="Empleados" asp-action="Index">Mi perfil</a>
            <span>|</span>
            <a class="nav-link text-warning" asp-area="" asp-controller="Empleados" asp-action="EmpleadosList">Historial de conexiòn</a>
            <span>|</span>
            <a class="nav-link text-danger" asp-area="" asp-controller="Empleados" asp-action="CerrarSession">Cerrar sesiòn</a>
                
        </nav>
    </header>


<div class="row">
    <div class="col-md-10">    
        <p>@ViewBag.Ultima_Hora_Entrada</p>
        <form asp-controller="Empleados" asp-action="IngresoHora" method="post">
            <p>Hola ... ,¿estás seguro de registrar la hora de entrada?</p>
            <button type="submit" class="btn btn-success">Confirmar</button>
            <a asp-action="Index" class="btn btn-danger">Cancelar</a>
        </form>
    </div
</div>

