@{
    ViewData["Title"] = "Salida";
}


<div class="row">
    <div class="col-md-10">
        <h3 class="text-center">Hola ..., ¿quieres finalizar tu jornada laboral?</h3>
        <div class="form-control text-center">
            <a asp-action="Salida" class="btn btn-warning">Finalizar</a>
        </div>
        </table>
    </div>
</div>

